.discover {
    position: relative;
    padding: 100px 0;
    @media (max-width: 1440px) {
        padding: 50px 0;
    }

    &::before {
        content: "";
        position: absolute;
    bottom: -68px;
    left: 0;
    background-image: url(../images/coffee_blast.png);
    background-size: contain; /* Изображение подгоняется */
    background-repeat: no-repeat; /* Отключить повторение */
    // background-position: center;
    width: 500px; /* Размер изображения */
    height: 270px;
    z-index: 2;
    }
    &__container {
        column-gap: 150px;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &__text {
        margin: 60px 0;
        font-size: 28px;
        line-height: 40px;
        color: var(--gray);
        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 34px;
        }
    }

    &__btn {
        width: auto; /* По умолчанию подстраивается под содержимое */
    align-self: flex-start;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e0a857;
        /* Цвет фона при наведении */        
    }
    @media (max-width: 1440px) {
        font-size: 16px;
    }
    
    }

    &__image {
        width: 50%;

        // max-width: 650px;
        // background-image: url(../images/cup-coffee.png);
        // background-size: auto auto;
        // background-position: center;
        // background-repeat: no-repeat;
        // height: auto;
        // padding-top: 70px;
        // padding-bottom: 70px;
    }
}

